body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#start-button {
  display: block;
  width: 10em;
  height: 5em;
  margin: 20px auto;
}

#name-entry-input {
  text-align: center;
  width: 10em;
}

#welcome-image {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.stats-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.speed-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

button {
  width: 10em;
  height: 5em;
  border-radius: 15px;
}

#main-game-image {
  width: 60%;
}
